{
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 512,
	"endOfLine": "lf",
	"singleQuote": true,
	"proseWrap": "never",
	"arrowParens": "avoid",
	"editorconfig": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"useEditorConfig": false,
	"bracketSameLine": true,
	"quoteProps": "consistent",
	"singleAttributePerLine": false,
	"vueIndentScriptAndStyle": false,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "strict"
}
